@font-face {
  font-family: digital;
  src: url(/Resume/Assets/fonts/digital-7.ttf);
}
@font-face {
  font-family: BerkshireSwash;
  src: url(/Resume/Assets/fonts/BerkshireSwash.ttf);
}
@font-face {
  font-family: DoubleFeature;
  src: url(/Resume/Assets/fonts/DoubleFeature.ttf);
}
@font-face {
  font-family: lacostaline;
  src: url(/Resume/Assets/fonts/LacostaLine_PERSONAL_USE_ONLY.ttf);
}
@font-face {
  font-family: mademe;
  src: url(/Resume/Assets/fonts/Mademe.ttf);
}
@font-face {
  font-family: salma;
  src: url(/Resume/Assets/fonts/SalmaParagraph.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #111;
  position: relative;
  background-color: #111;
}
body .navigation {
  display: flex;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  width: 100%;
  color: white;
}
body .navigation .active-side-nav {
  transform: translateX(0%);
  transition: all 1s ease;
}
body .navigation .inactive-side-nav {
  transform: translateX(-100%);
  transition: all 1s ease;
}
body .navigation .side-nav {
  position: absolute;
  display: flex;
  left: 0;
  top: 0px;
  background-color: black;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100vh;
}
body .navigation .side-nav .profile-image {
  margin-top: 50px;
  height: 125px;
  background-image: url(../Assets/Images/profile-picture.png);
  background-position: center;
  background-size: cover;
  width: 115px;
  border-radius: 100px;
  border: 5px solid rgb(34, 34, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
body .navigation .side-nav h3 {
  color: white;
}
body .navigation .side-nav .social-link {
  display: flex;
  width: 190px;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 40px 0;
}
body .navigation .side-nav .social-link .bx {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: white;
  background-color: rgb(48, 42, 42);
  height: 30px;
  width: 30px;
}
body .navigation .side-nav .social-link .bx:hover {
  background-color: #149ddd;
}
body .navigation .side-nav .social-link .bx:active {
  transform: scale(0.8);
}
body .navigation .side-nav .Nav-bar {
  width: 80%;
}
body .navigation .side-nav .Nav-bar ul li {
  margin-right: 50px;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  width: 90px;
  height: 30px;
  align-items: center;
}
body .navigation .side-nav .Nav-bar ul li a {
  color: rgb(173, 171, 171);
  font-size: 14px;
  cursor: pointer;
}
body .navigation .side-nav .Nav-bar ul li i {
  margin-right: 5px;
  font-size: 20px;
  color: rgb(143, 146, 148);
  height: 25px;
  cursor: pointer;
}
body .navigation .side-nav .Nav-bar ul li:hover a,
body .navigation .side-nav .Nav-bar ul li:hover i {
  color: #149ddd;
}
body .navigation .side-nav .Nav-bar ul li:active a,
body .navigation .side-nav .Nav-bar ul li:active i {
  transform: scale(0.8);
  transition: all 0.3s ease;
}
body .navigation .btn-nav {
  position: absolute;
  top: 15px;
  right: 20px;
  height: 30px;
  width: 35px;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body .navigation .btn {
  background-color: transparent;
  border: 2px solid #149ddd;
  font-weight: 600;
  border-radius: 7px;
  color: white;
}
body .navigation .btn:hover {
  background-color: #149ddd;
}
body .main {
  padding-left: 300px;
}
body .main .Home {
  height: 100vh;
  width: 100%;
}
body .main .Home .Home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../Assets/Images/home-pro1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 100vh;
  width: 100%;
}
body .main .Home .Home-container .text-container {
  margin-bottom: 70px;
  padding: 10px;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
}
body .main .Home .Home-container .text-container h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body .main .Home .Home-container .text-container .Ephrem-Getachew {
  display: flex;
  color: white;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 900;
  font-family: mademe;
}
body .main .Home .Home-container .text-container .ephrem {
  color: crimson;
}
body .main .Home .Home-container .text-container .skill-name {
  color: white;
  font-weight: 300;
  font-size: 25px;
  font-family: BerkshireSwash;
  font-weight: bolder;
}
body .main .Home .Home-container .text-container .skill-name .web-developer {
  font-weight: bold;
  color: rgb(233, 171, 15);
  font-weight: 300;
  font-size: 25px;
  font-family: BerkshireSwash;
}
body .main .Home .Home-container .btn {
  background-color: #0b58a9;
  font-weight: 900;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding: 8px 15px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body .main .Home .Home-container .btn:hover {
  background-color: #149ddd;
  border-color: #149ddd;
  transform: scale(1.009);
}
body .main .About {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding-left: 5%;
  padding-right: 5%;
}
body .main .About .about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
body .main .About .about-container .my-image {
  background-image: url(../Assets/Images/Mypicture.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 300px;
  width: 300px;
  margin-top: 20px;
  border-radius: 10px 20px 30px 40px;
}
body .main .About .about-container .about-layer {
  color: white;
  margin-left: 20px;
  font-family: salma;
  width: 60%;
}
body .main .About .about-container .about-layer h3 {
  font-size: 40px;
  margin-bottom: 15px;
}
body .main .About .about-container .about-layer h3 span {
  color: #E9AB0F;
}
body .main .About .about-container .about-layer p {
  font-size: 20px;
  margin-bottom: 10px;
}
body .main .About .about-container .about-layer p .more {
  display: none;
}
body .main .About .about-container .about-layer p .dots {
  display: inline;
}
body .main .About .about-container .about-layer .read-more-btn {
  background-color: #0B58A9;
  font-weight: 600;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body .main .About .about-container .about-layer .read-more-btn:hover {
  background-color: #149ddd;
  border-color: #149ddd;
  transform: scale(1.009);
}
body .main .Skill {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: left;
  background-color: #111;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}
body .main .Skill .skill-container {
  display: flex;
  flex-direction: column;
  font-family: salma;
  padding-top: 30px;
}
body .main .Skill .skill-container h3 {
  font-size: 40px;
  margin-bottom: 15px;
}
body .main .Skill .skill-container h3 span {
  color: #E9AB0F;
}
body .main .Skill .skill-container h4 {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 100;
}
body .main .Skill .skill-container .skill-nav-bar {
  margin-bottom: 50px;
  margin-top: 20px;
}
body .main .Skill .skill-container .skill-nav-bar .skill-btn {
  font-family: salma;
  background-color: black;
  font-weight: 600;
  outline: none;
  border: none;
  color: white;
  font-size: 24px;
  padding: 4px 8px 0px 8px;
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}
body .main .Skill .skill-container .skill-nav-bar .skill-btn:active {
  border-bottom: 1px solid #E9AB0F;
}
body .main .Skill .skill-container .skill-nav-bar .all {
  border-bottom: 2px solid #E9AB0F;
  border-left: 2px solid #E9AB0F;
  border-top: 1px solid white;
  border-right: 1px solid white;
}
body .main .Skill .skill-container .my-skills {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  background-color: #111;
  color: white;
}
body .main .Skill .skill-container .my-skills #sk {
  height: 220px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 15px;
  padding: 30px 5px;
  transition: all 0.5s ease-in-out;
  margin-right: 35px;
  margin-bottom: 25px;
  cursor: pointer;
}
body .main .Skill .skill-container .my-skills #sk p {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
body .main .Skill .skill-container .my-skills #sk .html-logo {
  background-image: url(../Assets/Images/Skill-Logo/html-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .css-logo {
  background-image: url(../Assets/Images/Skill-Logo/css-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .js-logo {
  background-image: url(../Assets/Images/Skill-Logo/js-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .sass-logo {
  background-image: url(../Assets/Images/Skill-Logo/sass-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 135px;
  width: 120px;
}
body .main .Skill .skill-container .my-skills #sk .bootstrap-logo {
  background-image: url(../Assets/Images/Skill-Logo/bootstrap-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .python-logo {
  background-image: url(../Assets/Images/Skill-Logo/python-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .node-js-logo {
  background-image: url(../Assets/Images/Skill-Logo/node-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 100px;
  width: 160px;
}
body .main .Skill .skill-container .my-skills #sk .php-logo {
  background-image: url(../Assets/Images/Skill-Logo/php-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 88px;
  width: 175px;
}
body .main .Skill .skill-container .my-skills #sk .java-logo {
  background-image: url(../Assets/Images/Skill-Logo/java-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .cpp-logo {
  background-image: url(../Assets/Images/Skill-Logo/cpp-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .react-logo {
  background-image: url(../Assets/Images/Skill-Logo/react-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .firebase-logo {
  background-image: url(../Assets/Images/Skill-Logo/firebase-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .sqlite-logo {
  background-image: url(../Assets/Images/Skill-Logo/sqlite-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .mysql-logo {
  background-image: url(../Assets/Images/Skill-Logo/mysql-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .git-logo {
  background-image: url(../Assets/Images/Skill-Logo/git-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .figma-logo {
  background-image: url(../Assets/Images/Skill-Logo/figma-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk .bash-logo {
  background-image: url(../Assets/Images/Skill-Logo/bash-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 115px;
  width: 110px;
}
body .main .Skill .skill-container .my-skills #sk:hover {
  background: linear-gradient(to right, rgb(68, 64, 45), rgb(150, 124, 68));
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
body .main .Education-Certificate {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #111;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  padding-top: 30px;
}
body .main .Education-Certificate .education-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 30px;
}
body .main .Education-Certificate .education-container .edu-topic {
  font-size: 40px;
  margin-bottom: 15px;
}
body .main .Education-Certificate .education-container .educations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  width: 100%;
  flex-wrap: wrap;
}
body .main .Education-Certificate .education-container .educations .hu {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 425px;
  height: 200px;
  background-color: #272727;
  padding: 10px 20px;
  border-left: 3px solid #E9AB0F;
  position: relative;
  border-radius: 0 10px 10px 0;
  margin-bottom: 10px;
}
body .main .Education-Certificate .education-container .educations .hu h3 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 5px;
}
body .main .Education-Certificate .education-container .educations .hu h4 {
  color: #0B58A9;
}
body .main .Education-Certificate .education-container .educations .hu::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 415px;
  top: 0%;
  border-radius: 50%;
  background-color: #E9AB0F;
}
body .main .Education-Certificate .certificate-container {
  display: flex;
  flex-direction: column;
}
body .main .Education-Certificate .certificate-container h3 {
  font-size: 40px;
  margin-bottom: 15px;
}
body .main .Education-Certificate .certificate-container .certificates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .main .Education-Certificate .certificate-container .certificates .cert1 {
  width: 450px;
  height: 200px;
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
  transition: all 0.5s ease-in-out;
  position: relative;
  opacity: 0.4;
  border-radius: 20px;
}
body .main .Education-Certificate .certificate-container .certificates .cert1 a {
  width: 100%;
  height: 100%;
}
body .main .Education-Certificate .certificate-container .certificates .cert1 a img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
body .main .Education-Certificate .certificate-container .certificates .cert1:hover {
  transform: scale(1.05);
}
body .main .project {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  background-color: #111;
}
body .main .project .project-container {
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}
body .main .project .project-container h3 {
  padding-bottom: 20px;
  font-size: 40px;
  margin-bottom: 15px;
}
body .main .project .project-container .project-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  row-gap: 30px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}
body .main .project .project-container .project-list .single-project {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
  flex: 1;
  height: 200px;
  box-shadow: 3px 3px 5px 1px rgba(219, 211, 211, 0.25), inset 3px 3px 5px 1px rgba(219, 211, 211, 0.25);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
body .main .project .project-container .project-list .single-project h4 {
  font-size: 25px;
  color: gold;
  margin-top: 10px;
  text-align: center;
}
body .main .project .project-container .project-list .single-project p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 0 30px;
}
body .main .project .project-container .project-list .single-project .links {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}
body .main .project .project-container .project-list .single-project .links a {
  color: #149ddd;
}
body .main .project .project-container .project-list .single-project .links .tools {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(219, 184, 94);
}
body .main .project .project-container .project-list .single-project:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px 1px rgba(219, 211, 211, 0.25), inset 4px 4px 8px 1px rgba(219, 211, 211, 0.25);
}
body .main .contact {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: left;
  background-color: #111;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}
body .main .contact .contact-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding-top: 30px;
}
body .main .contact .contact-container .information-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
}
body .main .contact .contact-container .information-container h3 {
  font-size: 40px;
  margin-bottom: 15px;
}
body .main .contact .contact-container .information-container .basic-info {
  height: 275px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
body .main .contact .contact-container .information-container .basic-info .lec {
  display: flex;
  justify-content: row;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  background-color: rgb(45, 49, 51);
  padding: 10px 10px;
  border-radius: 5px;
}
body .main .contact .contact-container .information-container .basic-info .lec .bx {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgb(158, 157, 158);
  height: 50px;
  color: black;
  width: 50px;
  border-radius: 30px;
}
body .main .contact .contact-container .information-container .basic-info .lec .location-name,
body .main .contact .contact-container .information-container .basic-info .lec .email-name,
body .main .contact .contact-container .information-container .basic-info .lec .call-name {
  margin-left: 10px;
}
body .main .contact .contact-container .information-container .basic-info .lec .location-name h4,
body .main .contact .contact-container .information-container .basic-info .lec .email-name h4,
body .main .contact .contact-container .information-container .basic-info .lec .call-name h4 {
  font-size: 20px;
}
body .main .contact .contact-container .information-container .basic-info .lec .location-name p,
body .main .contact .contact-container .information-container .basic-info .lec .email-name p,
body .main .contact .contact-container .information-container .basic-info .lec .call-name p {
  font-size: 16px;
}
body .main .contact .contact-container .information-container .map-location iframe {
  width: 100%;
  height: 280px;
}
body .main .contact .contact-container form {
  width: 100%;
  margin-top: 80px;
  font-size: 20px;
}
body .main .contact .contact-container form input {
  width: 100%;
  height: 40px;
  padding: 2px 5px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  color: black;
  background-color: rgb(59, 59, 59);
}
body .main .contact .contact-container form p {
  margin-bottom: 2px;
}
body .main .contact .contact-container form textarea {
  height: 220px;
  width: 100%;
  resize: vertical;
  outline: none;
  margin-bottom: 10px;
  background-color: gray;
  padding: 10px 5px;
}
body .main .contact .contact-container form .submit-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main .contact .contact-container form .submit-btn input[type=submit] {
  background-color: #0B58A9;
  font-weight: 600;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 150px;
}
body footer {
  color: #E9AB0F;
  background-color: #272727;
  margin-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 430px) {
  body .main .Home .Home-container .text-container .Ephrem-Getachew {
    font-size: 2.2em;
  }
  body .main .About .about-container .my-image {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  body .main .About .about-container .about-layer {
    margin: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  body .main .About .about-container .about-layer p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
  }
  body .main .Skill {
    min-height: 80vh;
  }
  body .main .Skill .skill-container .skill-nav-bar {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  body .main .Skill .skill-container .skill-nav-bar .skill-btn {
    font-size: 18px;
    margin-bottom: 10px;
  }
  body .main .Skill .skill-container .my-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body .main .Skill .skill-container .my-skills #sk {
    height: 80px;
    width: 95px;
    margin: 5px;
    padding: 15px 5px;
  }
  body .main .Skill .skill-container .my-skills #sk .logo {
    height: 80%;
    width: 45%;
  }
  body .main .Skill .skill-container .my-skills #sk .node-js-logo {
    height: 51%;
    width: 48px;
  }
  body .main .Skill .skill-container .my-skills #sk .php-logo {
    height: 51%;
    width: 60%;
  }
  body .main .Skill .skill-container .my-skills #sk .python-logo {
    height: 70%;
    width: 40%;
  }
  body .main .Skill .skill-container .my-skills #sk p {
    font-size: 12px;
    margin-bottom: 2px;
  }
  body .main .Education-Certificate .certificate-container {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  body .main .Education-Certificate .certificate-container h3 {
    margin-bottom: 0px;
  }
  body .main .Education-Certificate .certificate-container .certificates .cert1 {
    width: 450px;
    height: 150px;
    margin: 10px 5px;
  }
  body .main .project .project-container .project-list .single-project {
    min-width: 300px;
    height: 250px;
  }
  body .main .contact .contact-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  body .main .contact .contact-container .information-container {
    margin-right: 0;
  }
  body .main .contact .contact-container form {
    margin: 10px 5px;
  }
  body footer {
    text-align: center;
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 430px) and (max-width: 768px) {
  body .main .Home .Home-container .text-container .Ephrem-Getachew {
    font-size: 2.5em;
  }
  body .main .About .about-container .about-layer {
    width: 50%;
    margin: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  body .main .About .about-container .about-layer p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
  }
  body .main .Skill {
    min-height: 80vh;
  }
  body .main .Skill .skill-container .skill-nav-bar {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  body .main .Skill .skill-container .skill-nav-bar .skill-btn {
    font-size: 18px;
    margin-bottom: 10px;
  }
  body .main .Skill .skill-container .my-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body .main .Skill .skill-container .my-skills #sk {
    height: 140px;
    width: 155px;
    margin: 5px;
    padding: 0px 5px;
  }
  body .main .Skill .skill-container .my-skills #sk .logo {
    height: 80%;
    width: 45%;
  }
  body .main .Skill .skill-container .my-skills #sk .sass-logo {
    height: 80%;
    width: 60%;
  }
  body .main .Skill .skill-container .my-skills #sk .bootstrap-logo {
    height: 70%;
    width: 55%;
  }
  body .main .Skill .skill-container .my-skills #sk .django-logo {
    height: 70%;
    width: 55%;
  }
  body .main .Skill .skill-container .my-skills #sk .node-js-logo {
    height: 55%;
    width: 72%;
  }
  body .main .Skill .skill-container .my-skills #sk .php-logo {
    height: 51%;
    width: 77%;
  }
  body .main .Skill .skill-container .my-skills #sk .python-logo {
    height: 70%;
    width: 55%;
  }
  body .main .Skill .skill-container .my-skills #sk p {
    font-size: 18px;
    margin-bottom: 2px;
  }
  body .main .Education-Certificate .education-container .educations .hu {
    width: 330px;
  }
  body .main .Education-Certificate .education-container .educations .hu::before {
    right: 320px;
  }
  body .main .Education-Certificate .certificate-container .certificates .cert1 {
    width: 330px;
    height: 150px;
    margin: 10px 0px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  body .main .Home .Home-container .text-container .Ephrem-Getachew {
    font-size: 3.5em;
  }
  body .main .About .about-container .about-layer {
    width: 50%;
  }
  body .main .Skill .skill-container .my-skills #sk {
    padding: 3px 0px;
    height: 200px;
    width: 230px;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 1281) {
  body .main .Home .Home-container .text-container .Ephrem-Getachew {
    font-size: 4.5em;
  }
  body .main .About .about-container .about-layer {
    width: 70%;
  }
}/*# sourceMappingURL=main.css.map */